*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    background-image: url('/img/home-bg.jpg');
    background-size: 140%;
    background-attachment: fixed;
    width: 100%;
    height: 768px;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #202020ad;
}
.logo{
    cursor: pointer;
    margin-left: -100px;
    letter-spacing: 3px;
    font-size: 35px;
    color: rgb(233, 233, 233);
    font-family: "Cookie", Arial, sans-serif, cursive;
    transition: 0.3s;
}
.nav-links{
    display: flex;
    margin-right: -100px;
}
.nav-links a{
    font-size: 15px;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;
    margin: 18px;
    color: rgb(177, 177, 177);
    transition: 0.3s;
}
.nav-links li{
    list-style: none;
}
.nav-links a:hover, .logo:hover{
    color: #ce9c6b;
}
.home-word{
    margin-left: -80px;
    margin-top: 60px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}
.home-word p{
    font-size: 80px;
    color: white;
}
.home-word button{
    cursor: pointer;
    width: 190px;
    height: 50px;
    border-radius: 50px;
    background: #ce9c6b;
    border: 1px solid #ce9c6b;
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}
.home-word button:hover{
    background: none;
    color: #ce9c6b;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.video button{
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: none;
    border-radius: 999px;
    border: solid rgb(212, 212, 212) 1px;
    transition: 0.25s;
}
.video i{
    padding-left: 7px;
    font-size: 35px;
    color: rgb(212, 212, 212);
}
.video button:hover{
    zoom: 110%;
    border: solid #ce9c6b 1px;
}
.contact{
    display: flex;
}
.black{
    margin-top: 77px;
    width: 66%;
    height: 145px;
    background-color: black;
}
.content{
    width: 100%;
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
}
.call{
    display: flex;
    width: 25%;
    margin-left: 20px;
}
.call i{
    padding-top: 5px;
    color: #ce9c6b;
    font-size: 20px;
}
.word1{
    font-family: poppins;
    font-weight: bold;
    color: rgb(233, 233, 233);
    padding-left: 15px;
}
.word2{
    font-family: poppins;
    font-weight: bold;
    color: rgb(187, 187, 187);
    padding-left: 15px;
}
.brown{
    margin-top: 140px;
    width: 34%;
    height: 80px;
    background-color: #ce9c6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
}
.brown i{
    font-size: 20px;
}
.facebook{
    cursor: pointer;
    background: none;
    width: 40px;
    height: 40px;
    border: solid blue 1px;
    border-radius: 99px;
    transition: 0.3s;
}
.fa-facebook-f{
    color: blue;
}
.brown button:hover{
    border: solid rgba(255, 255, 255, 0.336) 1px;
    background-color: rgba(255, 255, 255, 0.336);
}
.face{
    margin: 30px;
    transition: 0.3s;
}
.fa-twitter{
    color: rgb(0, 162, 255);
}
.twitter{
    cursor: pointer;
    background: none;
    width: 40px;
    height: 40px;
    border: solid rgb(0, 162, 255) 1px;
    border-radius: 99px;
    transition: 0.3s;
}
.fa-instagram{
    color: crimson;
}
.instagram{
    cursor: pointer;
    background: none;
    width: 40px;
    height: 40px;
    border: solid crimson 1px;
    border-radius: 99px;
    transition: 0.3s;
}

/* Header */
/* main */

/* WELCOM */
.welcome{
    width: 100%;
    height: 460px;
    background-color: #202020;
    text-align: center;
    padding-top: 115px;
}
.welcom{
    color: rgb(233, 233, 233);
    font-size: 40px;
}
.welcom span{
    color: #ce9c6b;
}
.line{
    color: #ce9c6b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.icon1{
    font-size: 30px;
}
.lorem{
    font-family: poppins;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    color: gray;
    font-weight: bold;
    padding-top: 10px;
}
/* WELCOM */

/* OUR SERVICES */

.service{
    width: 100%;
    min-height: 700px;
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
}
.cardes{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.cadr{
    width: 300px;
    height: 350px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cadr i{
    cursor: pointer;
    padding: 15px;
    border: solid #ce9c6b 1px;
    width: 65px;
    color: #ce9c6b;
    font-size: 22px;
    margin-left: 120px;
    transition: 0.3s;
}
.cadr i:hover{
    border: solid rgba(255, 255, 255, 0.336) 1px;
    background-color: rgb(34, 34, 34);
}
.titel{
    font-family: poppins;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}
.sou-titel{
    font-family: poppins;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    color: gray;
}

/* OUR SERVICES */
/* PLAN AND PRICING */

.plan{
    width: 100%;
    height: 900px;
    background-color: #202020;
    text-align: center;
    padding-top: 115px;
}
.plan span{
    color: #ce9c6b;
}
.plan1{
    margin-top: 100px;
}
.hair{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.hair1{
    display: flex;
    flex-direction: column;
    color: white;
}
.tbqa1{
    display: flex;
    align-items: center;
}
.man{
    font-family: poppins;
    font-size: 18px;
    font-weight: bold;
}
.tqta3{
    color: #ce9c6b;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 9px;
    padding: 0 15px;
}
.preis{
    color: #ce9c6b;
    font-family: poppins;
    font-weight: bold;
}
.tbqa2{
    color: gray;
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    width: 500px;
    margin-left: 8px;
    padding-top: 8px;
}

/* PLAN AND PRICING */

/* TEAM */

.team{
    width: 100%;
    height: 800px;
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
}
.team1{
    cursor: pointer;
    width: 270px;
    height: 450px;
    border: solid #ce9c6b 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.team1:hover{
    background-color: #202020;
}
.team1 img{
    width: 120px;
    height: 120px;
    border-radius: 999px;
    border: solid #ce9c6b 1px;
    margin-left: 75px;
    margin-top: 40px;
}
.info{
    color: white;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}
.info p{
    margin: 12px;
}
.teams{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

/* TEAM */
/* DISCOUNT */

.discount{
    width: 100%;
    height: 450px;
    background-image: url('/img/discount.jpg');
    background-size: 100%;
    background-attachment: fixed;
}
.discount-off{
    padding-top: 80px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.discount-button{
    cursor: pointer;
    width: 15%;
    height: 50px;
    border-radius: 50px;
    background: #ce9c6b;
    border: 1px solid #ce9c6b;
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    margin-left: 42.5%;
    margin-top: 15px;
}
.discount-button:hover{
    background: none;
    color: #ce9c6b;
}

/* DISCOUNT */
/* PRODUCT */

.product{
    width: 100%;
    height: 1400px;
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
}
.product1{
    width: 250px;
    height: 500px;
    color: white;
    border: solid #ce9c6b 1px;
    border-radius: 10px;
}
.buy{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: solid #ce9c6b 1px;
    background: none;
    color: white;
    font-size: 16px;
    border-radius: 999px;
    transition: 0.3s;
}
.buy:hover{
    border: solid rgba(255, 255, 255, 0.336) 1px;
    background-color: rgba(255, 255, 255, 0.336);
    color: #8a1b20;
}
.product-preis{
    display: flex;
    justify-content: center;
}
.products{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

/* PRODUCT */

/* CONTACT */

.contacts{
    width: 100%;
    height: 600px;
    background-color: #202020;
    text-align: center;
    padding-top: 70px;
}
.map{
    width: 31%;
}
.contact-us{
    width: 69%;
}
.contact1{
    display: flex;
    margin-top: 50px;
}
.nom{
    margin-left: -7px;
}
.nom input{
    width: 400px;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
    background: none;
    color: rgb(221, 221, 221);
    border: solid #161616 1px;
    border-radius: 2px;
    padding-left: 10px;
}
.email input{
    width: 400px;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
    background: none;
    color: rgb(221, 221, 221);
    border: solid #161616 1px;
    border-radius: 2px;
    margin-left: -410px;
    margin-top: 20px;
    padding-left: 10px;
}
.birth{
    margin-left: 10px;
}
.birth input{
    width: 270px;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
    background: none;
    color: rgb(221, 221, 221);
    border: solid #161616 1px;
    border-radius: 2px;
    margin-top: 20px;
    padding-left: 10px;
}
.msg input{
    width: 600px;
    height: 100px;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
    background: none;
    color: rgb(221, 221, 221);
    border: solid #161616 1px;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: -208px;
    padding-left: 10px;
    padding-bottom: 60px;
}
.send-button{
    cursor: pointer;
    width: 15%;
    height: 50px;
    border-radius: 50px;
    background: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    margin-left: 42.5%;
    margin-top: 15px;
}
.send-button:hover{
    background: none;
    color: rgb(0, 162, 255);
}
/* CONTACT */

/* main */

/* footer */

.foot{
    width: 100%;
    height: 540px;
    background-color: #000000;
    padding-top: 50px;
}
.foot1{
    color: white;
    width: 400px;
    height: 380px;
    margin-left: 100px;
}
.foot2{
    color: white;
    width: 150px;
    height: 380px;
    margin-left: 100px;
}
.head{
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
}
.lorem1{
    font-family: poppins;
    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-top: 5px;
    width: 60%;
}
.icons button:hover{
    border: solid rgba(255, 255, 255, 0.336) 1px;
    background-color: rgba(255, 255, 255, 0.336);
}
.bigfoot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* footer */